_templates
_build
__pycache__
build
.zed
.ipynb_checkpoints
.ruff_cache
.ropeproject
.virtual_documents
.Rhistory
*.egg-info
*Untitled*
*.mp4
*.h5
*datasets/
docs/source/*.ipynb
docs/source/vassi.*.rst
docs/source/2_mice-results.svg
video_snippets
feature_cache_*
